.footer-child4 {
  position: absolute;
  top: calc(50% - 104px);
  left: calc(50% - 720px);
  background-color: var(--color-black);
  width: 1440px;
  height: 208px;
}
.fleo-inc-all4 {
  position: absolute;
  top: calc(50% + 63px);
  left: calc(50% - 532px);
}
.footer-child5 {
  position: absolute;
  top: calc(50% + 49.5px);
  left: calc(50% - 532.5px);
  border-top: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 1066px;
  height: 1px;
}
.instagram-icon4 {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% + 482px);
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.facebook-icon4 {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% + 425px);
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.youtube-icon4 {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% + 368px);
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.twitter-icon4 {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% + 311px);
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.social4 {
  position: absolute;
  top: calc(50% - 63px);
  left: calc(50% + 458px);
  font-weight: 500;
  font-family: var(--font-mplus-1p);
}
.at-fleo-we4 {
  position: absolute;
  top: calc(50% - 64px);
  left: calc(50% - 529px);
  font-size: var(--font-size-base);
  font-family: var(--bodytext);
  display: inline-block;
  width: 357px;
  height: 97px;
}
.fleo5 {
  position: absolute;
  top: calc(50% - 94px);
  left: calc(50% - 532px);
  font-size: var(--font-size-xl);
  letter-spacing: 0.05em;
  font-weight: 600;
}
.footer4 {
  position: absolute;
  top: calc(50% + 475px);
  left: calc(50% - 720px);
  width: 1440px;
  height: 208px;
}
.confirm-button-child {
  position: absolute;
  top: calc(50% - 36.42px);
  left: calc(50% - 120px);
  border-radius: var(--br-xl);
  background-color: var(--color-deepskyblue-100);
  width: 240px;
  height: 72.83px;
}
.confirm {
  position: absolute;
  top: calc(50% - 14.42px);
  left: calc(50% - 61px);
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--h1);
  color: var(--color-white);
  text-align: left;
  width: 122px;
  height: 27.31px;
}
.confirm-button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: calc(50% + 185.08px);
  left: calc(50% - 109px);
  width: 240px;
  height: 72.83px;
}
.confirm-password-text {
  border: none;
  background-color: var(--color-white);
  position: absolute;
  top: calc(50% + 115.08px);
  left: calc(50% - 162px);
  border-radius: var(--br-xl);
  width: 345px;
  height: 55px;
}
.confirm-new-password {
  position: absolute;
  top: calc(50% + 58.08px);
  left: calc(50% - 162px);
}
.new-password-text {
  border: none;
  background-color: var(--color-white);
  position: absolute;
  top: calc(50% - 15.92px);
  left: calc(50% - 162px);
  border-radius: var(--br-xl);
  width: 345px;
  height: 55px;
}
.new-password {
  position: absolute;
  top: calc(50% - 72.92px);
  left: calc(50% - 162px);
}
.current-password-text {
  border: none;
  background-color: var(--color-white);
  position: absolute;
  top: calc(50% - 146.92px);
  left: calc(50% - 162px);
  border-radius: var(--br-xl);
  width: 345px;
  height: 55px;
}
.current-password {
  position: absolute;
  top: calc(50% - 203.92px);
  left: calc(50% - 162px);
}
.change-password {
  position: absolute;
  top: calc(50% - 257.92px);
  left: calc(50% - 183px);
  font-size: 32px;
  font-weight: 500;
}
.password {
  position: absolute;
  top: calc(50% - 266.5px);
  left: calc(50% + 57.5px);
  width: 366px;
  height: 515.83px;
}
.location-text {
  border: none;
  background-color: var(--color-white);
  position: absolute;
  top: calc(50% + 342.5px);
  left: calc(50% - 422.5px);
  border-radius: var(--br-xl);
  width: 345px;
  height: 55px;
}
.pune {
  position: absolute;
  top: calc(50% + 350.5px);
  left: calc(50% - 381.5px);
  font-weight: 300;
  color: var(--color-gray-100);
}
.location {
  position: absolute;
  top: calc(50% + 284.5px);
  left: calc(50% - 422.5px);
}
.gender-text {
  border: none;
  background-color: var(--color-white);
  position: absolute;
  top: calc(50% + 209.5px);
  left: calc(50% - 422.5px);
  border-radius: var(--br-xl);
  width: 345px;
  height: 55px;
}
.male {
  position: absolute;
  top: calc(50% + 217.5px);
  left: calc(50% - 381.5px);
  font-weight: 300;
  color: var(--color-gray-100);
}
.gender {
  position: absolute;
  top: calc(50% + 151.5px);
  left: calc(50% - 422.5px);
}
.age-text {
  border: none;
  background-color: var(--color-white);
  position: absolute;
  top: calc(50% + 76.5px);
  left: calc(50% - 422.5px);
  border-radius: var(--br-xl);
  width: 345px;
  height: 55px;
}
.div8 {
  position: absolute;
  top: calc(50% + 84.5px);
  left: calc(50% - 381.5px);
  font-weight: 300;
  color: var(--color-gray-100);
}
.age {
  position: absolute;
  top: calc(50% + 18.5px);
  left: calc(50% - 422.5px);
}
.phone-text {
  border: none;
  background-color: var(--color-white);
  position: absolute;
  top: calc(50% - 56.5px);
  left: calc(50% - 423.5px);
  border-radius: var(--br-xl);
  width: 345px;
  height: 55px;
}
.div9 {
  position: absolute;
  top: calc(50% - 48.5px);
  left: calc(50% - 382.5px);
  font-weight: 300;
}
.phone-number {
  position: absolute;
  top: calc(50% - 122.5px);
  left: calc(50% - 422.5px);
}
.email-text1 {
  border: none;
  background-color: var(--color-white);
  position: absolute;
  top: calc(50% - 206.5px);
  left: calc(50% - 423.5px);
  border-radius: var(--br-xl);
  width: 345px;
  height: 55px;
}
.percygmailcom3 {
  position: absolute;
  top: calc(50% - 198.5px);
  left: calc(50% - 382.5px);
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
}
.e-mail-address {
  position: absolute;
  top: calc(50% - 264.5px);
  left: calc(50% - 422.5px);
}
.name-text {
  border: none;
  background-color: var(--color-white);
  position: absolute;
  top: calc(50% - 339.5px);
  left: calc(50% - 423.5px);
  border-radius: var(--br-xl);
  width: 345px;
  height: 55px;
}
.percy3 {
  position: absolute;
  top: calc(50% - 331.5px);
  left: calc(50% - 382.5px);
  font-weight: 300;
}
.name {
  position: absolute;
  top: calc(50% - 397.5px);
  left: calc(50% - 423.5px);
}
.info2 {
  position: absolute;
  top: calc(50% - 478px);
  left: calc(50% - 278px);
  width: 847px;
  height: 795px;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
}
.background3 {
  position: absolute;
  top: calc(50% - 579px);
  left: calc(50% - 170.5px);
  background-color: var(--color-thistle-200);
  width: 341px;
  height: 1158px;
}
.logout-button-child1 {
  position: absolute;
  top: calc(50% - 36.42px);
  left: calc(50% - 120px);
  border-radius: var(--br-xl);
  background-color: var(--color-orchid-100);
  width: 240px;
  height: 72.83px;
}
.log-out3 {
  position: absolute;
  top: calc(50% - 14.42px);
  left: calc(50% - 61px);
  display: inline-block;
  width: 122px;
  height: 27.31px;
}
.logout-button3 {
  text-decoration: none;
  position: absolute;
  top: calc(50% + 432px);
  left: calc(50% - 119.5px);
  width: 240px;
  height: 72.83px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.preferences3 {
  text-decoration: none;
  position: absolute;
  top: calc(50% + 274.32px);
  left: calc(50% - 117.5px);
  font-weight: 300;
  color: inherit;
  display: inline-block;
  width: 213px;
  height: 45.52px;
}
.portfolio7 {
  text-decoration: none;
  position: absolute;
  top: calc(50% + 201.49px);
  left: calc(50% - 117.5px);
  font-weight: 300;
  color: inherit;
  display: inline-block;
  width: 152px;
  height: 45.52px;
}
.financial-info5 {
  text-decoration: none;
  position: absolute;
  top: calc(50% + 128.66px);
  left: calc(50% - 117.5px);
  font-weight: 300;
  color: inherit;
  display: inline-block;
  width: 236px;
  height: 45.52px;
}
.personal-info4 {
  text-decoration: none;
  position: absolute;
  top: calc(50% + 55.83px);
  left: calc(50% - 117.5px);
  font-weight: 300;
  color: inherit;
  display: inline-block;
  width: 231px;
  height: 45.52px;
}
.dashboard4 {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 17px);
  left: calc(50% - 117.5px);
  font-weight: 300;
  color: inherit;
  display: inline-block;
  width: 200px;
  height: 45.52px;
}
.percygmailcom4 {
  position: absolute;
  top: calc(50% - 132px);
  left: calc(50% - 94.5px);
  font-size: var(--font-size-5xl);
  font-weight: 300;
  display: inline-block;
  width: 190px;
  height: 27.31px;
}
.percy4 {
  position: absolute;
  top: calc(50% - 192px);
  left: calc(50% - 64.5px);
  font-size: var(--font-size-29xl);
  display: inline-block;
  width: 129px;
  height: 54.62px;
}
.profile-pic3 {
  position: absolute;
  top: calc(50% - 519px);
  left: calc(50% - 149.5px);
  border-radius: 50%;
  background-color: var(--color-black);
  width: 300px;
  height: 300px;
}
.line-icon {
  position: absolute;
  top: calc(50% - 579px);
  left: calc(50% + 169.58px);
  width: 5.92px;
  height: 1158px;
}
.sidebar3 {
  position: absolute;
  top: calc(50% - 683px);
  left: calc(50% - 720px);
  width: 341px;
  height: 1158px;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.contact-button-child1 {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 120px);
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-100);
  width: 240px;
  height: 80px;
}
.contact-support3 {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 100px);
  letter-spacing: 0.05em;
}
.contact-button3 {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% + 238.5px);
  width: 240px;
  height: 80px;
  color: inherit;
}
.personal-info5 {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 478.5px);
  font-size: var(--font-size-29xl);
  font-weight: 300;
  color: var(--color-black);
}
.navbar4 {
  position: absolute;
  top: calc(50% - 633px);
  left: calc(50% - 329px);
  width: 957px;
  height: 80px;
  font-size: var(--font-size-5xl);
}
.personal-info3 {
  position: relative;
  background-color: var(--color-whitesmoke-200);
  width: 100%;
  height: 1366px;
  overflow: hidden;
  opacity: 0;
  text-align: left;
  font-size: var(--bodytext-size);
  color: var(--color-white);
  font-family: var(--h1);
}
.personal-info3.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
