.rectangle-div {
  position: absolute;
  top: calc(50% - 104px);
  left: calc(50% - 720px);
  background-color: var(--color-black);
  width: 1440px;
  height: 208px;
}
.fleo-inc-all2 {
  position: absolute;
  top: calc(50% + 63px);
  left: calc(50% - 532px);
}
.footer-child1 {
  position: absolute;
  top: calc(50% + 49.5px);
  left: calc(50% - 532.5px);
  border-top: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 1066px;
  height: 1px;
}
.instagram-icon2 {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% + 482px);
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.facebook-icon2 {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% + 425px);
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.youtube-icon2 {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% + 368px);
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.twitter-icon2 {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% + 311px);
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.social2 {
  position: absolute;
  top: calc(50% - 63px);
  left: calc(50% + 458px);
  font-weight: 500;
  font-family: var(--font-mplus-1p);
}
.at-fleo-we2 {
  position: absolute;
  top: calc(50% - 64px);
  left: calc(50% - 529px);
  font-size: var(--font-size-base);
  font-family: var(--bodytext);
  display: inline-block;
  width: 357px;
  height: 97px;
}
.fleo3 {
  position: absolute;
  top: calc(50% - 94px);
  left: calc(50% - 532px);
  font-size: var(--font-size-xl);
  letter-spacing: 0.05em;
  font-weight: 600;
}
.footer2 {
  position: absolute;
  top: calc(50% + 475px);
  left: calc(50% - 720px);
  width: 1440px;
  height: 208px;
}
.current-text {
  border: none;
  background-color: var(--color-white);
  position: absolute;
  top: calc(50% + 369px);
  left: calc(50% - 200px);
  border-radius: var(--br-xl);
  width: 345px;
  height: 75px;
}
.div1 {
  position: absolute;
  top: calc(50% + 387px);
  left: calc(50% - 165px);
}
.current-value {
  position: absolute;
  top: calc(50% + 302px);
  left: calc(50% - 200px);
}
.purchase-text {
  border: none;
  background-color: var(--color-white);
  position: absolute;
  top: calc(50% + 198px);
  left: calc(50% - 200px);
  border-radius: var(--br-xl);
  width: 345px;
  height: 75px;
}
.div2 {
  position: absolute;
  top: calc(50% + 216px);
  left: calc(50% - 161px);
}
.purchase-price {
  position: absolute;
  top: calc(50% + 131px);
  left: calc(50% - 200px);
}
.quantity-text {
  border: none;
  background-color: var(--color-white);
  position: absolute;
  top: calc(50% + 27px);
  left: calc(50% - 200px);
  border-radius: var(--br-xl);
  width: 345px;
  height: 75px;
}
.div3 {
  position: absolute;
  top: calc(50% + 48px);
  left: calc(50% - 159px);
}
.quantity {
  position: absolute;
  top: calc(50% - 46px);
  left: calc(50% - 200px);
  display: inline-block;
  width: 153px;
  height: 44px;
}
.asset-text1 {
  border: none;
  background-color: var(--color-white);
  position: absolute;
  top: calc(50% - 175px);
  left: calc(50% - 200px);
  border-radius: var(--br-xl);
  width: 400px;
  height: 100px;
}
.car {
  position: absolute;
  top: calc(50% - 144px);
  left: calc(50% - 161px);
}
.asset-name {
  position: absolute;
  top: calc(50% - 248px);
  left: calc(50% - 200px);
  display: inline-block;
  width: 230px;
  height: 44px;
}
.portfolio-text1 {
  border: none;
  background-color: var(--color-white);
  position: absolute;
  top: calc(50% - 377px);
  left: calc(50% - 200px);
  border-radius: var(--br-xl);
  width: 400px;
  height: 100px;
}
.div4 {
  position: absolute;
  top: calc(50% - 346px);
  left: calc(50% - 161px);
}
.portfolio-id {
  position: absolute;
  top: calc(50% - 444px);
  left: calc(50% - 200px);
}
.portfolio3 {
  position: absolute;
  top: calc(50% - 492px);
  left: calc(50% - 237px);
  width: 400px;
  height: 888px;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
}
.background1 {
  position: absolute;
  top: calc(50% - 579px);
  left: calc(50% - 170.5px);
  background-color: var(--color-thistle-200);
  width: 341px;
  height: 1158px;
}
.logout-button-item {
  position: absolute;
  top: calc(50% - 36.42px);
  left: calc(50% - 120px);
  border-radius: var(--br-xl);
  background-color: var(--color-orchid-100);
  width: 240px;
  height: 72.83px;
}
.log-out1 {
  position: absolute;
  top: calc(50% - 14.42px);
  left: calc(50% - 61px);
  display: inline-block;
  width: 122px;
  height: 27.31px;
}
.logout-button1 {
  text-decoration: none;
  position: absolute;
  top: calc(50% + 432px);
  left: calc(50% - 119.5px);
  width: 240px;
  height: 72.83px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.preferences1 {
  text-decoration: none;
  position: absolute;
  top: calc(50% + 274.32px);
  left: calc(50% - 117.5px);
  font-weight: 300;
  color: inherit;
  display: inline-block;
  width: 213px;
  height: 45.52px;
}
.portfolio4 {
  text-decoration: none;
  position: absolute;
  top: calc(50% + 201.49px);
  left: calc(50% - 117.5px);
  font-weight: 300;
  color: inherit;
  display: inline-block;
  width: 152px;
  height: 45.52px;
}
.financial-info1 {
  text-decoration: none;
  position: absolute;
  top: calc(50% + 128.66px);
  left: calc(50% - 117.5px);
  font-weight: 300;
  color: inherit;
  display: inline-block;
  width: 236px;
  height: 45.52px;
}
.personal-info1 {
  text-decoration: none;
  position: absolute;
  top: calc(50% + 55.83px);
  left: calc(50% - 117.5px);
  font-weight: 300;
  color: inherit;
  display: inline-block;
  width: 231px;
  height: 45.52px;
}
.dashboard2 {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 17px);
  left: calc(50% - 117.5px);
  font-weight: 300;
  color: inherit;
  display: inline-block;
  width: 200px;
  height: 45.52px;
}
.percygmailcom1 {
  position: absolute;
  top: calc(50% - 132px);
  left: calc(50% - 94.5px);
  font-size: var(--font-size-5xl);
  font-weight: 300;
  display: inline-block;
  width: 190px;
  height: 27.31px;
}
.percy1 {
  position: absolute;
  top: calc(50% - 192px);
  left: calc(50% - 64.5px);
  font-size: var(--font-size-29xl);
  display: inline-block;
  width: 129px;
  height: 54.62px;
}
.profile-pic1 {
  position: absolute;
  top: calc(50% - 519px);
  left: calc(50% - 149.5px);
  border-radius: 50%;
  background-color: var(--color-black);
  width: 300px;
  height: 300px;
}
.sidebar-item {
  position: absolute;
  top: calc(50% - 579px);
  left: calc(50% + 169.58px);
  width: 5.92px;
  height: 1158px;
}
.sidebar1 {
  position: absolute;
  top: calc(50% - 683px);
  left: calc(50% - 720px);
  width: 341px;
  height: 1158px;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.contact-button-item {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 120px);
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-100);
  width: 240px;
  height: 80px;
}
.contact-support1 {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 100px);
  letter-spacing: 0.05em;
}
.contact-button1 {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% + 238.5px);
  width: 240px;
  height: 80px;
  color: inherit;
}
.portfolio5 {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 478.5px);
  font-size: var(--font-size-29xl);
  font-weight: 300;
  color: var(--color-black);
}
.navbar2 {
  position: absolute;
  top: calc(50% - 633px);
  left: calc(50% - 329px);
  width: 957px;
  height: 80px;
  font-size: var(--font-size-5xl);
}
.portfolio2 {
  position: relative;
  background-color: var(--color-whitesmoke-200);
  width: 100%;
  height: 1366px;
  overflow: hidden;
  opacity: 0;
  text-align: left;
  font-size: var(--bodytext-size);
  color: var(--color-white);
  font-family: var(--h1);
}
.portfolio2.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
